@import url("https://raw.githack.com/LuckFire/CustomHighlightColor/master/source.css");

:root {
   --background-mentioned-side: rgb(114, 137, 218);
   --background-mentioned: rgba(114, 137, 218, 0.05);
   --background-mentioned-hover: rgba(114, 137, 218, 0.12);
   --clyde-side: rgb(240, 71, 71); 
   --clyde-default: rgba(240, 71, 71, 0.05);
   --clyde-hover: rgba(240, 71, 71, 0.12);
}
