/* Pings. */
.mentioned-xhSam7, .mentioned-xhSam7.selected-2P5D_Z, .mentioned-xhSam7.groupStart-23k01U.selected-2P5D_Z, .mentioned-xhSam7.wrapper-2a6GCs.cozy-3raOZG {
   background: var(--ping-default);
}
.mentioned-xhSam7:before {
   background: var(--ping-side);
}
.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover  {
   background: var(--ping-hover);
}

/* Clyde Notifications. */
.localBot-GrCgVt, .localBot-GrCgVt.groupStart-23k01U.selected-2P5D_Z {
   background: var(--clyde-default);
} 
.localBot-GrCgVt:before {
   background: var(--clyde-side)
}
.localBot-GrCgVt.selected-2P5D_Z, .mouse-mode.full-motion .localBot-GrCgVt:hover {
   background: var(--clyde-hover);
}
